.movie-grid-row {
    margin-top: 2%;
}

.movie-card {
    color: black;
    margin: 1%;
}

.alert {
    margin: 2%;
}

#reviewModaLabel {
    color: black;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}