#signup-form {
    margin: auto; /*so the form is in the center of it's container */
}

#failed_sign_in {
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: none;
}