{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block extrajs %}
<script defer src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}

{% block maincontent %}
<div class="container" style="margin-top: 60px;" id="centralDivLanding">
  <div class="heading1"><br><br><br><br>
    <h2><center>🎬 Movie Mood🍿: Login to Your Account! 🎬</center></h2>
    <br>
    {% if show_message %}
      <div class="alert alert-danger" role="alert">
          {{ message }}
      </div>
    {% endif %}
    <form id="login-form" action="" method="POST">
      <div class="form-group">
        <label for="username_label">Username</label>
        <input name="username" type="username" class="form-control" placeholder="Enter Username" required>
      </div>
        <br>
      <div class="form-group">
        <label for="password_label">Password</label>
        <input name="password" type="password" class="form-control" placeholder="Enter Password" required>
      </div>
        <br>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
      <p id="Signup_text" class="form-text">Don't have an account with us? Click <a href="{{ url_for('signup') }}">here</a> to sign up.</p>
  </div>
  </div>
</div>
<div class="d-none" id="loaderLanding">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
</div>
{% endblock %}
