{% extends 'shared/layout.html' %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}

{% block maincontent %}
<div class="container" style="margin-top: 60px;" id="centralDivLanding">
  <div class="heading1"><br><br><br><br>
    <h2><center>🎬 PopcornPicks🍿: Chat with others about Movies! 🎬</center></h2>
  </div>
    <div class="card d-flex flex-column">
    <div class="card-header text-secondary">
        Live Movie Chat
    </div>
    <ul id="message_list" class="list-group flex-grow-1 overflow-auto"></ul>
    <form id="form" class="form-inline" action="" onsubmit="submiter(); return false;">
        <div class="form-group">
            <input id="input" class="form-control mr-2" autocomplete="off" />
            <!-- 密码输入框 -->
            <input type="password" id="password" placeholder="Enter your chat password..." />
        </div>
        <button type="submit" class="btn btn-primary ms-2">Send</button>
    </form>
</div>

</div>
<script>
    // 模拟的密码，实际项目中你可以从服务器端获取或通过更安全的方式管理
    var chatPassword = "secretPassword";
    
    function submitMessage() {
        // 获取输入的消息和密码
        var msg = document.getElementById('input');
        var password = document.getElementById('password');
        
        // 检查密码是否正确
        if (password.value === chatPassword) {
            // 如果密码正确，发送消息
            console.log("Message sent:", msg.value);
            socket.emit('message', { username: '{{user}}', msg: msg.value });
            
            // 清空输入框和密码框
            msg.value = '';
            password.value = '';
        } else {
            // 如果密码不正确，给出提示
            alert("Incorrect password. Please try again.");
        }
        
        return false; // 确保页面不刷新
    }
    </script>


{% endblock %}