{% extends 'shared/layout.html' %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}

{% block maincontent %}
<div class="container" style="margin-top: 60px;" id="centralDivLanding">
  <div class="heading1"><br><br><br><br>
    <h2><center>🎬 PopcornPicks🍿: Chat with others about Movies! 🎬</center></h2>
  </div>
</div>
{% endblock %}