{% extends 'shared/layout.html' %}

{% block extracss %}
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/search.css') }}"
  />
{% endblock %}

{% block extrajs %}
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>  
{% endblock %}

{% block maincontent %}
<div class="container" style="margin-top: 60px;">
  <div class="heading1">
    <!-- Heading for picking a movie -->
    <h2><center>🎬 Pick a Movie! 🎬</center></h2>
    <h6 class="tipHeader">✨Tip: Select Upto 5 movies to get a tailored watchlist✨</h6>
  </div>
  <div class="row" style="margin-top: 25px;">
    <!-- Left Column (Selected Movie(s) and Search) -->
    <h3>Selected Movie(s):</h3>
    <div class="d-flex justify-content-between">
      <div class="col-md-9">
        <!-- Selected Movie(s) section -->
        <input class="form-control mr-sm-2" type="search" placeholder="Search for a Movie" aria-label="Search" id="searchBox" />
        <ul class="list-group" id="selectedMovies"></ul>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <!-- Predict button -->
        <input type="button" class="btn btn-primary" name="predict" id="predict" value="Predict" />
      </div>
    </div>
  </div>
  <div class="row alert">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert" id="saved-flash" hidden="true">
        Review saved!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" id="recommended_block">
    </div>
  </div>
  <div class="row movie-grid-row" id="predictedMovies">
  </div>
     
  </div>
</div>
<div class="d-none" id="loader">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
</div>
<div id="modalParent"></div>
</body>
{% endblock %}
