{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block extrajs %}
<script defer src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}

{% block maincontent %}
<div class="container" style="margin-top: 60px;" id="centralDivLanding">
  <div class="heading1">
    <h2><center>🎬 PopcornPicks🍿: Signup for an Account! 🎬</center></h2>
    {% if show_message %}
      <div class="alert alert-danger" role="alert">
          {{ message }}
      </div>
    {% endif %}
    <br>
      <form id="signup-form" method="post" action="">
      <div class="form-group">
        <label for="username_label">Username</label>
        <input name="username" type="text" class="form-control" placeholder="Enter Username" required>
      </div>
      <div class="form-group">
        <label for="first_name_label">First Name</label>
        <input name="first_name" type="text" class="form-control" placeholder="Enter First Name" required>
      </div>
      <div class="form-group">
        <label for="last_name_label">Last Name</label>
        <input name="last_name" type="text" class="form-control" placeholder="Enter Last Name" required>
      </div>
      <div class="form-group">
        <label for="email_label">Email Address</label>
        <input name="email" type="email" class="form-control" placeholder="Enter Email" required>
      </div>
      <div class="form-group">
        <label for="password_label">Password</label>
        <input name="password" type="password" class="form-control" placeholder="Enter Password" required>
      </div>
        <br>
      <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
  </div>

</div>
    <!-- Below code is using bootstrap to display a loading circle when needed -->
<div class="d-none" id="loaderLanding">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
</div>
{% endblock %}