{% extends 'shared/layout.html' %}

{% block extrajs %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block maincontent %}
<div id="dataCollected">
  <div class="d-none" id="loaderSuccess">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <h1 class="hLast">Have your watchlist sent to your email!</h1>
  <br/>
  <div class="notifyDivs">
    <input class="c-checkbox" type="checkbox" id="checkbox" />
    <div class="c-formContainer" id="formContainer">
      <form class="c-form" action="">
        <input
          class="c-form__input"
          placeholder="E-mail"
          type="text"
          id="emailField"
          required
        />
        <label class="c-form__buttonLabel" for="checkbox">
          <button class="c-form__button" type="button" id="notifyButton">
            Send
          </button>
        </label>
        <label
          class="c-form__toggle"
          for="checkbox"
          data-title="Notify me"
        ></label>
      </form>
    </div>
</div>
<br /><br />
<div class="d-flex justify-content-center">
  <h1>
    Or
  </h1>
</div>
<br /><br />
<input
    type="button"
    id="refreshPage"
    class="btn btn-danger attemptBtn"
    name="refreshPage"
    value="Take another attempt"
  />

</div>

<!-- Add the "Email sent successfully!" message here -->
<div
  id="emailSentSuccess"
  style="display: none; position: absolute; top: 80px; left: 50%; transform: translateX(-50%);"
>
  <h3>Email sent successfully!</h3>
</div>

{% endblock %}

{% block extra_html_scripts %}
<script>
    $("#refreshPage").click(function () {
      window.location.href = "/";
    });
</script>
{% endblock %}
